#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  font-family: Arial, sans-serif;
  background: linear-gradient(to top, rgba(255,0,0,0), rgb(180, 146, 179));
  min-height: 100vh; /* Ensure full viewport height coverage */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.App {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 1280px;
}

.App-header {
  background-color: transparent;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  font-family: 'American Typewriter';
}

.question-input textarea {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-button button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #81455f;
  color: white;
  cursor: pointer;
}

.submit-button button:hover {
  background-color: #3a3f47;
}

.answer-section {
  margin-top: 20px;
  text-align: left;
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

